@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    overflow: scroll;
    margin: 0px;
    display: grid;
    grid-template-columns: 250px calc(100% - 250px);
    grid-template-rows: 60px calc(100% - 60px);
    grid-template-areas:
        "header header"
        "left main";
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0,0,0,0.0);
}

/* Remove the major information for small screens */
@media screen and (max-width: 1000px) {
    body {
        grid-template-areas:
            "header header"
            "main main";
    }
}
#page-header {
    grid-area: header;
    display: flex;
    flex-direction: row;
}

aside, #index-header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#title-logo{
    height: 50px;
    border-radius: 5px;
}

#title-container {
    margin: 0px;
    height: 60px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#title-text{
    margin: 0px;
    height: 60px;
    padding: 10px;
    color: #4E2A84;
    font-size: 40px;
}
#index-header{
    height: 60px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 1;
}
#index-header h1 {
    display: flex;
    align-self: flex-start;
}
#index-header a.header-button{
    display:flex;
    height: 50px;
    width: 100px;
    background-color: #4E2A84;
    margin: 5px 10px 5px 0px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}
#index-header a.account-button{
    width:auto;
    padding-left: 20px;
    padding-right: 20px;
}
#index-header .header-button {
    align-content: center;
    justify-content: center;
}
#index-header a:hover {
    background-color: #5F3b95;
}
#account-dropdown {
    display: none;
}
#dropdown-content-container {
    display: none;
    position: absolute;
    right: 15px;
    margin-top: -5px;
    background-color: #4E2A84;
    border-radius: 0 0 5px 5px;
    width: 120px;
    box-shadow: 0 8px 16px 0 rgba(194,194,194,1);
    z-index: 1;
}
#account-dropdown:hover #dropdown-content-container{
    display: block;
}
.dropdown-content a{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    border-radius: 0 0 5px 5px;
    text-align: center;
    display: block;
}
#dropdown-content-container:hover{
    background-color: rgb(131, 110, 170);
    border-radius: 5px;
}


aside {
    background-color: white;
    grid-area: left;
    border-radius: 5px;
    margin:15px;
    margin-right: 0px;
    -webkit-box-shadow: 0px 0px 5px 4px rgba(194,194,194,1);
    -moz-box-shadow: 0px 0px 5px 4px rgba(194,194,194,1);
    box-shadow: 0px 0px 5px 4px rgba(194,194,194,1);

}
aside h2{
    padding: 5px;
    margin: 0px;
    text-align: center;
    color: #4E2A84;
}
aside h3 {
    font-weight: lighter;
}
aside p {
    padding-left: 10px;
}

section.class-card {
    margin: 1px 0px 0px;
    padding: 20px;
    padding-left: 10px;
    border-left: solid 5px white;
    object-position: 50% ;
    width: 100%;
    height: auto;
}
section.class-card:hover {    
    border-left:solid 5px #4E2A84;
    background-color: #eee;
    font-weight: bolder;
}

#main {
    grid-area: main;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 15px;
    margin-left: 20px;
    -webkit-box-shadow: 0px 0px 5px 4px rgba(194,194,194,1);
    -moz-box-shadow: 0px 0px 5px 4px rgba(194,194,194,1);
    box-shadow: 0px 0px 5px 4px rgba(194,194,194,1);
    border-radius: 5px;
}

