@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}
body {
    overflow: hidden;
    margin: 0px;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 50px auto;
    grid-template-areas:
        "greeting header"
        "left main";
    height: 100vh;
}

aside, #index-header{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#title-section{
    background-color: #4E2A84;
    margin: 0px;
    height: 50px;
    padding: 10px 10px;
    border-right: solid 5px #4E2A84; 
    color: white;
}
#index-header{
    grid-area: header;
    background-color: #4E2A84;
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
}
#index-header h1 {
    display: flex;
    align-self: flex-start;
}
#index-header a.header-button{
    display:flex;
    height: 50px;
    width: 100px;
    background-color: #4E2A84;
    color: white;
    text-decoration: none;

}
#index-header a.account-button{
    width: 270px;
}
header .header-button {
    align-content: center;
    justify-content: center;
}
#index-header a:hover {
    background-color: #5F3b95;
}
.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 10px;
    background-color: #f0f0f0;
    width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0 0, 0.2);
    z-index: 1;
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
    display: block;
}
.dropdown-content a:hover{
    background-color: #ddd;
}

#index-header #logout {
    display: none;
}

aside {
    background-color: white;
    grid-area: left;
    border-right: solid 1px black;
}
aside h2{
    padding-left: 10px;
}
aside h3 {
    font-weight: lighter;
}

section.class-card {
    margin: 1px 0px 0px;
    padding: 20px;
    padding-left: 10px;
    border-left: solid 5px white;
    object-position: 50% ;
    width: 100%;
    height: auto;
}
section.class-card:hover {    
    border-left:solid 5px #4E2A84;
    background-color: #eee;
    font-weight: bolder;
}

#main {
    grid-area: main;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
#search-section {
    width: auto;
    flex-grow: 1;
    border-right: 2px dashed gray;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px auto;
    grid-template-areas: 
        "searchmenu"
        "searchresults";
}
#calendar-section {
    width: auto;
    flex-grow: 1;
}


#search-menu {
    grid-area: searchmenu;
    border-bottom: 2px dashed blue;
}
#search-results {
    grid-area: searchresults;
}

