#calendar-section {
    flex: .6;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    border-radius: 5px;
    background-color: white;
}
.cal-DOW {
    width: 20%;
    border-left: 2px solid rgb(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    position: relative;
}
#cal-Times {
    min-width: 50px;
    max-width: 50px;
    border-left: none;
}
#cal-Times > container {
    border-bottom: none;
}

.cal-DOW > container {
    height: 7.14%;
    border-bottom: 1px solid rgb(0, 0, 0, .2);
}
.cal-DOW > container.cal-bottom {
    border-bottom: none;
}
container.cal-DOW-title {
    line-height: 30px;
    height: 30px;
}
