#search-results {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
#search-card{
    /*
    display:grid;
    grid-template-rows: 2fr 1fr 1fr 1fr;
    grid-template-columns: auto;
    grid-template-areas:
        "head"
        "subj"
        "inst"
        "date";
    justify-items: start;
    margin: 1px 0px 0px;
    padding: 10px;
    border-left: solid 5px white;
    width: 100%;
    height: auto;*/
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-items: flex-start;
    align-items: flex-start;
    margin: 4px 4px 0px 4px;
    border: 1px solid gray;
    padding: 10px;
}
#search-card h1{
    grid-area: head;
    font-size: 23px;
    margin: 0px 0px 2px;
    color: #4E2A84;
}
#search-card p{
    margin: 0px;
    flex-wrap: wrap;
}
p #subject-num{ grid-area: subj; }
p #instructor{ grid-area: inst; }
p #days-times{ grid-area: date; }
#search-card:hover{
    background-color: #eee;
}